/* Coolors Exported Palette - https://coolors.co/08415c-cc2936-ebbab9-388697-b5ffe1 */

/* CSS HEX */
--indigo-dye: #08415cff;
--persian-red: #cc2936ff;
--tea-rose-red: #ebbab9ff;
--blue-munsell: #388697ff;
--aquamarine: #b5ffe1ff;

/* CSS HSL */
--indigo-dye: hsla(199, 84%, 20%, 1);
--persian-red: hsla(355, 67%, 48%, 1);
--tea-rose-red: hsla(1, 56%, 82%, 1);
--blue-munsell: hsla(191, 46%, 41%, 1);
--aquamarine: hsla(156, 100%, 85%, 1);

/* SCSS HEX */
$indigo-dye: #08415cff;
$persian-red: #cc2936ff;
$tea-rose-red: #ebbab9ff;
$blue-munsell: #388697ff;
$aquamarine: #b5ffe1ff;

/* SCSS HSL */
$indigo-dye: hsla(199, 84%, 20%, 1);
$persian-red: hsla(355, 67%, 48%, 1);
$tea-rose-red: hsla(1, 56%, 82%, 1);
$blue-munsell: hsla(191, 46%, 41%, 1);
$aquamarine: hsla(156, 100%, 85%, 1);

/* SCSS RGB */
$indigo-dye: rgba(8, 65, 92, 1);
$persian-red: rgba(204, 41, 54, 1);
$tea-rose-red: rgba(235, 186, 185, 1);
$blue-munsell: rgba(56, 134, 151, 1);
$aquamarine: rgba(181, 255, 225, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-right: linear-gradient(90deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-bottom: linear-gradient(180deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-left: linear-gradient(270deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-top-right: linear-gradient(45deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-bottom-right: linear-gradient(135deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-top-left: linear-gradient(225deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-bottom-left: linear-gradient(315deg, #08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);
$gradient-radial: radial-gradient(#08415cff, #cc2936ff, #ebbab9ff, #388697ff, #b5ffe1ff);